@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Add your own superhero to the list!</p>
    <img src="Content/Images/beast.jpg" class="img-fluid" alt="Beast reading Animal Farm.">
</div>
