@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h3>Welcome to Superhero Creator</h3>
    <p>With this application, you can create superheroes and add them to
       a list. You can then edit the superheroes, remove them, or add more.</p>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card bg-secondary">
                    <img class="card-img-top" src="Content/Images/batman.jpg" alt="Batman and Robin.">
                    <div class="card-body">
                        <div class="card-text text-center">
                            <h5>Add any superhero to the list</h5>
                            <p>All you need is to enter the name, alter ego, superpowers, and catchphrase.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card bg-secondary">
                    <img class="card-img-top" src="Content/Images/beast.jpg" alt="Beast reading Animal Farm.">
                    <div class="card-body">
                        <div class="card-text text-center">
                            <h5>Read about the superheroes</h5>
                            <p>Click on any name in the list to see details about the superhero.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <img class="card-img-top" src="Content/Images/ChocolateMan.jpg" alt="Chocolate from every orifice man.">
                    <div class="card-body bg-secondary">
                        <div class="card-text text-center">
                            <h5>Edit or delete superheroes</h5>
                            <p>There's no need to ooze superheroes from every orifice...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
