@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h3>Welcome to Superhero Creator</h3>
    <p>Add your own superhero to the list!</p>
    <img src="Content/Images/beast.jpg" class="img-fluid rounded float-left" alt="Beast reading Animal Farm.">
</div>
