@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>As of now, our privacy policy is mostly nonexistent. This is because we have no intention of collecting
   user data. While the Superheroes you create will certainly be interesting and full of valuable data, that
   is not the goal of this project.</p>
<p>Thank you and enjoy using Superhero Creator!</p>
